body {
    background: #000;
}
/* NAVBAR  */
.underline {
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 0;
    background: #c8982e;
    transition: width 0.3s ease;
}

.nav-link:hover .underline {
    width: 100%;
}

.underline.active {
    width: 100%;
}

/* HERO SECTION */

.dot {
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    background: #555;
    cursor: pointer;
    transition: all .3s;
}
.dot.active {
    background: #c8982e;
    box-shadow: 0 0 10px #c8982e;
}

/* Zoom lento */
@keyframes zoom {
    from { transform: scale(1.05); }
    to   { transform: scale(1.15); }
}

/* FOOTER */

.footer-link {
    color: #9ca3af; /* gray-400 */
    transition: all 0.3s ease;
}
.footer-link:hover {
    color: #c8982e;
    padding-left: 4px;
}

